#analisis
pandas
numpy
openpyxl
chardet
nltk

#visualizacion
matplotlib
seaborn
plotly

#analisis estadistico
statsmodels # Análisis de tendencias y estacionalidad
scikit-learn # Clustering de tickets y predicciones básicas
prophet # Predicción de volumen de tickets (Meta)
xgboost
lightgbm

# utilidades
ipykernel
tqdm
python-dotenv

# utilidades adicionales (glob y os son módulos built-in)
google-generativeai
boto3