#analisis
pandas
numpy
openpyxl
chardet

#visualizacion
matplotlib
seaborn
plotly

#analisis estadistico
statsmodels # Análisis de tendencias y estacionalidad
scikit-learn # Clustering de tickets y predicciones básicas
prophet # Predicción de volumen de tickets (Meta)


# utilidades
ipykernel
tqdm
python-dotenv

# conexiones y APIs
glob
os